:root {
    --header-height:4rem;
    /*-----Color-------*/
    /*Color mode HSL(Hue, saturatuion, lightness) */
    --first-color:#698269;
    --first-color-alt:hsl(129,44%,94%);
    --second-color: hsl(34,94%,87%);
    --title-color: hsl(0,0%,13%);
    --text-color: hsl(154,13%,32%);
    --text-color-light: hsl(60,1%,56%);
    --body-color: hsl(0,0%,100%);
    --container-color: hsl(0,0%,93%);
    --border-color: hsl(129,36%,85%);
    --border-color-alt: hsl(113,15%,90%);
    /*------Font and Typography-------*/
    --body-font: "Lato", sans-serif; ;
    --second-font: "League Spartan", sans-serif; ;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size:0.75rem;
    --tiny-font-size:0.6875rem;
    /*------Font weight---------*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-600:600;
    --weight-700: 700;
    /*------transition----*/
    --transition: cubic-bezier(0 ,0, 0.05,1);
}

/*responsive typography*/
@media screen and (max-width: 1200px){
    :root{
    --big-font-size: 3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size:0.75rem;
    --tiny-font-size:0.6875rem;
    }
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/background_header.jpg);
    background-position:center;
    background-size:cover;
    position: relative;
    padding:20px 0px 40px 0px;
}
nav{
    display: flex;
    padding: 0px 90px 31px 90px;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
    font-size: 14px;
}


.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #EB684A;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
    font-family: var(--second-font);
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #EB684A;
    background: #EB684A;
    transition: 1s;
}

.fa-solid {
    display: inline;
    
}
.fa-bars,
.fa-xmark{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;    
    }
    .nav-links{
        position: fixed;
        background: #EB684A;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index : 2 ;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}


/* Course */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #000;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:768px){
    .row{
        flex-direction: column;
    }    
}

/* Category */
.category{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.category-col{
    user-select: none;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.category img {
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    background: rgba(26, 36, 47,0.5);
}
.layer:hover{
    background: none;
}
.layer h3{
    width: 100%;
    font-weight: 525;
    color: #fff;
    font-size: 28px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 2;
    transition: 0.5s;
}
.layer:hover{
    bottom: 49%;
    opacity: 3;
}

    
     .slide-wrapper .swiper-button-next,
    .slide-wrapper .swiper-button-prev{
        top: 1000px;
        color: #f44336;
    }  
     .slide-wrapper .swiper-pagination{
        top: 1300px;
    } 
.slide-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 0px 55px;
}
.slide-wrapper .swiper-pagination-bullet{
    background: #f44336;
    height: 15px;
    width: 15px;
}
.swiper-pagination-bullet-active{
    background: #EB684A;
}
.slide-wrapper .swiper-slide-button{
    color:#f44336 ;
    margin-top: -50px;
    transition: 0.2s ease;
}
.slide-wrapper .swiper-slide-button:hover{
    color: #EB684A;
}
@media (max-width:768px){
    .slide-wrapper{
        margin: 0 10px 40px;
    }
    .slide-wrapper .swiper-slide-button{
        display: none;
    }
}
/* blog */


.blog{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.blog-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.blog-col img{
    width: 100%;
    border-radius: 10px;
}
.blog-col p{
    padding: 0;
}
.blog-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* feedbacks */
.feedbacks{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.feedback-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;    
}
.feedback-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.feedback-col p{
    padding: 0;
}
.feedback-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.feedback-col .fa{
    color:#EB684A
}
@media(max-width:700px){
    .feedback-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* call to action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: url(../img/bake.jpg) ;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom:40px;
    padding: 0;
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}

/* Footer */

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 3.5 rem;
    background-color: #1a242f;
    
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-content img{
    margin-left: 25px;
}
.footer-content h4{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 16px;
}

.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}
.footer-content p {
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

.icons{
    margin-left: 20px;
}
.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover{
    color:  #fff;
    transform: translateY(-5px);
}

@media (max-width:1690px){
    section {
        padding : 50px 5% 40px;
    }
}
@media (max-width:1120px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,auto));
        gap: 2rem;
    }
}
@media (max-width:700px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,auto));
        gap: 2.5rem;
    }
}

/* About us page */
.sub-header{
    
    height: 50vh;
    width: 100%;
    background-image: url(http://localhost/examfinal/app/asset/img/background_header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding:50px 0px 40px 0px;
}
/*
.sub-header h1 {
    margin-top: 100px;
}

.about-us{

    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
} */
/* Interactive Tabbed Layout */
.about-us.tabbed-layout {
    padding: 0px 0px 60px 0px ;
    background-color: #ffffff;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom:2px solid #1a242f;
}

.tab-button {
    background: #698269;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #f44336;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-pane {
    display: none;
    text-align: center;
    max-width: 800px;
}

.tab-pane.active {
    display: block;
}

.tab-pane h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.tab-pane p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.choices {
    display: flex;
    margin: 20px 0;
}

.choice-col {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.choice-col h1 {
    font-size: 1.4em;
    color: #333;
    margin: 10px 0;
}

.choice-col p {
    font-size: 0.9em;
    color: #555;
}
.explore-btn{
    color:#EB684A;
    border: 1px solid #EB684A;
}
.explore-btn:hover{
    color:#fff;
}



/* contact us page */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
    
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa-solid,.contact-col div .fa-regular {
    font-size: 28px;
    color: #698269;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*DEALS*/
.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}
.deals__container {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.deals__item:nth-child(1) {
    background-image: url(http://localhost/examfinal/app/asset/img/font.jpg);
    /* insert image */
    border-radius: 10px;
    
}
.deals__item:nth-child(2) {
    background-image: url(http://localhost/examfinal/app/asset/img/font2.jpg);
    /* insert image */
    border-radius: 10px;
    
}

.deals__item {
    padding: 3rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
}

.deals__brand {
    color: #698269;
    font-size: 3rem;
    margin-bottom: .25rem;
    width: 62%;
    padding-bottom: 12px;
}

.deals__category{
    font-family: var(--second-font);
    font-size: 17px;
    background: #698269;
    padding: 9px;
    border-radius: 20px;
    color: #fff
}

.deals__title {
    max-width: 240px;
    font-size: var(--large-font-size);
    font-weight: var(--weight-400);
    line-height: 1.3;
    color: var(--first-color);
}

.deals__price .new__price,
.deals__price .old__price {
    font-size: var(--large-font-size);
}

.deals__price .new__price {
    color: hsl(352,100%,60%);
}


.deals__countdown-text {
    margin-bottom: 0.25rem;
    color: #698269;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}


.countdown {
    display: flex;
    column-gap: 1.5rem;
}

.countdown__amount{
    position: relative;
}

.countdown__amount::after {
    content: ':';
    color: var(--title-color);
    font-size: var(--large-font-size);
    position: absolute;
    right: -25%;
    top: 20%;
}

.countdown__period {
    background-color: var(--first-color);
    color: var(--body-color);
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: .25rem;
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    margin-bottom: .5rem;
}

.unit {
    font-size: var(--small-font-size);
    text-align: center;
    display: block;
}

.fa-cart-shopping{
    display: inline;
}

.deals__btn .btn {
    display: block;
    background-color: transparent;
    color: var(--first-color);
    transition: all 0.5s;
}
.deal-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: rgba(105, 130, 105, 0.5);
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}
.deal-btn:hover{
    border: 1px solid rgb(105, 130, 105);
    background: rgb(105, 130, 105);
}

.deals__btn .btn:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}
/* New Arrival */
.new__arrivals {
    overflow: hidden;
}
.tab__btns {
    display: flex;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
}

.tab__btn {
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 1rem 1.25rem 0.875rem;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;
}
.product__container{
    
    grid-template-columns: repeat(4,1fr);
}
.product__item {
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    transition: all 0.2s var(--transition);
}
.product__banner {
    padding: 0.625rem 0.75rem 0.75rem;
    position: relative;
}
.product__image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 1.25rem;
}

.product__img{
    vertical-align: middle;
    transition: all 1.5s var(--transition);
}
.product__item:hover .product__img {
    transform: scale(1.1);
}
.product__img.hover {
    position: absolute;
    top: 0;
    left: 0;
}
.product__actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 0.5rem;
    transition: all .2s var(--transition);
}
.action__btn {
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: var(--small-font-size);
    position: relative;
}

.action__btn::before,
.action__btn::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action__btn::before{
    content: '';
    top: -2px;
    border: 0.5rem solid transparent;
    border-top-color: var(--first-color);
}

.action__btn::after {
    content: attr(aria-label);
    bottom: 100%;
    background-color: var(--first-color);
    color: var(--body-color);
    font-size: var(--tiny-font-size);
    
    white-space: nowrap;
    padding-inline: 0.625rem;
    border-radius: 0.25rem;
    line-height: 2.58;
}

.product__badge {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: 0.25rem 0.625rem;
    border-radius: 2.5rem;
    font-size: var(--tiny-font-size);
    
}

.product__badge.light-pink {
    background-color: hsl(341,100%,73%);
}
.product__badge.light-green {
    background-color: hsl(155,20%,67%);
}
.product__badge.light-orange {
    background-color: hsl(24,100%,73%);
}
.product__badge.light-blue {
    background-color: hsl(202,53%,76%);
}
.product__content {
    padding: 0 1.25rem 1.125rem;
    position: relative;
}
.product__category {
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
}

.product__title{
    font-size: var(--normal-font-size);
    margin-block: 0.75rem 0.5rem;
}
.product__rating {
    color: hsl(42, 100%, 50%);
    font-size: var(--smaller-font-size);
    margin-bottom: 0.75rem;
}


.product__price.new__price {
    font-size: var(--large-font-size);
}
.product__price{
    padding-right: 116px;
}
.cart__btn {
    position: absolute;
    bottom: 13%;
    left: 79%;
}
/*ACTIVE TAB*/
.tab__btn.active-tab {
    color: var(--first-color);
    background-color: var(--second-color);
}
.tab__item:not(.active-tab){
    display: none;
}
/*PRODUCT HOVER*/
.product__img.hover,
.product__actions,
.action__btn::before,
.action__btn::after,
.product__item:hover .product__img.default {
    opacity: 0;
}

.product__item.hover {
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
.product__item:hover .product__img.hover,
.product__item:hover .product__actions,
.action__btn:hover::before,
.action__btn:hover::after {
    opacity: 1;
}

.action__btn:hover::before,
.action__btn:hover::after {
    transform: translateX(-50%) translateY(-0.5rem);
}

.action__btn:hover {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--body-color);
}
.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem;
}
.section--lg {
    padding-block: 4rem;
}

.section__title{
    font-size: var(--h4-font-size);
    margin-bottom: 1.5rem;
}

.section__title span{
    color: var(--first-color);
}

.form__input {
    border: 1px solid var(--border-color-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.25rem;
    font-size: var(--small-font-size);
}

.flex {
    display: flex;
    column-gap: 0.5rem;
    align-items: flex-end;
    justify-content: flex-start;
}

.new__price {
    color: var(--first-color);
    font-weight: var(--weight-600);
}

.old__price {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-decoration: line-through;
}
.dropdown-toggle{
    display: flex;
    color: #fff;
    background: transparent;
    border: none;
}
.dropdown-toggle:hover{
    background: transparent;
    border: none;
}

.dropdown-toggle::after{
    margin-top: 10px;
    
}

.show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background: transparent;
    border: none;
}

.dropdown-menu{
    background-color: #545b62;
    width: 113px;
    padding: 0px 0px;
}

.dropdown-item {
    padding: 8px 12px;
}


.dropdown-item:hover {
    background-color: #fff;
}